html {
	height: 100%; max-height: 100%; _height: 100%;
}
body {
	height: 100%; max-height: 100%; _height: 100%;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; font-size: 12px;
}
ul li {
	line-height: 22px;
}
tr td {
	height: 25px;
}
.submit {
	background: url("../images/background/btbg.jpg") no-repeat -3px -6px; font: 12px/normal Arial, Helvetica; border: 1px solid rgb(1, 115, 149); height: 22px; color: rgb(255, 255, 255); padding-right: 8px; padding-left: 8px; margin-right: 8px; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.submit:hover {
	background: url("../images/background/btbg.jpg") no-repeat -3px -54px; border: 1px solid rgb(255, 183, 22); color: rgb(24, 155, 228);
}
#submit:focus {
	background: url("../images/background/btbg.jpg") no-repeat -3px -54px; border: 1px solid rgb(255, 183, 22); color: rgb(24, 155, 228);
}
.submit:active {
	
}
.popupControl {
	visibility: hidden; position: absolute; background-color: white;
}
ul {
	list-style: none;
}
fieldset {
	border: 1px solid rgb(170, 221, 255); padding-bottom: 10px; margin-top: 20px;
}
legend {
	color: rgb(45, 126, 231); font-weight: 700; margin-left: 20px;
}
.setdiv {
	width: 96%; margin-top: 12px; margin-left: 20px;
}
.setdiv ul li {
	line-height: 30px;
}
a:link {
	color: rgb(56, 153, 236); text-decoration: none;
}
a:visited {
	color: rgb(56, 153, 236); text-decoration: none;
}
a:hover {
	color: rgb(237, 84, 0); text-decoration: none;
}
.clearfloat {
	height: 0px; line-height: 0px; clear: both; font-size: 1px;
}
.more {
	background: url("../images/background/icon.gif") no-repeat 0px -46px; color: rgb(219, 141, 59); font-size: 12px; font-weight: normal; float: right;
}
.imginfo {
	
}
.table {
	border: 1px solid rgb(160, 160, 160); width: 100%; font-family: Arial; border-collapse: collapse;
}
.table tr:hover {
	background-color: rgb(196, 228, 255);
}
.table tr.altrow {
	background-color: rgb(196, 228, 255);
}
.tr {
	background: url("../images/background/top_bg.jpg") repeat-x; width: 96%; height: 25px; font-size: 14px; font-weight: 700;
}
.table td {
	border: 1px dashed rgb(160, 160, 160); height: 24px; text-align: center;
}
.control td {
	border: 0px currentColor;
}
.floater {
	width: 92%; padding-top: 8px; padding-left: 16px;
}
.table1 {
	border: 1px solid rgb(160, 160, 160); width: 100%; font-family: Arial; border-collapse: collapse;
}
.table1 td {
	border: 1px solid rgb(160, 160, 160); height: 30px; padding-top: 3px; padding-bottom: 3px; padding-left: 6px;
}
.table2 {
	border: 0px currentColor; width: 100%; font-family: Arial; border-collapse: collapse;
}
.table2 td {
	border: 0px currentColor; height: 30px; padding-top: 3px; padding-bottom: 3px; padding-left: 6px;
}
.wise ul li {
	list-style: none; margin-right: 8px; display: inline;
}
#container {
	width: 100%; height: 100%;
}
em {
	color: red; font-family: Arial;
}
h6 {
	color: red; font-size: 1.2em;
}
#flyout {
	border: 1px solid rgb(208, 208, 208); overflow: hidden; display: none; z-index: 2; background-color: rgb(255, 255, 255);
}
#info {
	padding: 5px; border: 1px solid rgb(204, 204, 204); width: 500px; text-align: center; font-size: 12px; display: none; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 2; opacity: 0; background-color: rgb(255, 255, 255);
}
#flyout1 {
	border: 1px solid rgb(208, 208, 208); overflow: hidden; display: none; z-index: 2; background-color: rgb(255, 255, 255);
}
#info1 {
	padding: 5px; border: 1px solid rgb(204, 204, 204); width: 480px; text-align: center; font-size: 12px; display: none; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 2; opacity: 0; background-color: rgb(255, 255, 255);
}
#login_main {
	background: url("../images/background/login_bg.jpg") no-repeat; margin: 0px auto; border: 1px solid rgb(204, 221, 232); width: 789px; height: 401px;
}
.login {
	margin: 188px auto; width: 225px; height: 148px; display: block;
}
.login ul li {
	height: 28px; text-align: center; margin-top: 12px;
}
.login .box {
	background: rgb(83, 145, 220); padding: 1px; border: 2px solid rgb(199, 217, 233); width: 210px; height: 24px;
}
.login .box .icon1 {
	background: url("../images/background/login-sprite.jpg") no-repeat 5px -12px rgb(255, 255, 255); width: 24px; height: 24px; float: left;
}
.login .box .icon2 {
	background: url("../images/background/login-sprite.jpg") no-repeat 5px -62px rgb(255, 255, 255); width: 24px; height: 24px; float: left;
}
.login .box .textbox {
	border: 0px currentColor; width: 184px; height: 22px; line-height: 22px; font-size: small; float: left;
}
#header {
	background: url("../images/background/topgreenright.jpg") repeat-x; width: 100%; height: 73px; border-bottom-color: rgb(204, 204, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.banner {
	width: 292px; float: left;
}
.nav {
	width: auto; height: 64px; margin-top: 6px; margin-left: 8px; float: left;
}
.nav li {
	background: url("../images/background/linegreen.gif") no-repeat right; width: 80px; height: 64px; text-align: center; line-height: 62px; padding-right: 10px; padding-left: 8px; font-size: 12px; font-weight: bold; float: left;
}
.nav li a {
	width: 80px; height: 64px; color: rgb(255, 255, 255); display: block;
}
.nav li .icon {
	height: 32px; text-align: center; line-height: 32px; padding-top: 6px;
}
.nav li .txt {
	height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
.nav li a:hover {
	background: url("../images/background/up.gif") no-repeat; color: rgb(255, 255, 255); line-height: 64px; text-decoration: none;
}
#main {
	width: 100%;
}
#DoorP {
	background: url("../images/background/side_bg.jpg") repeat-y; padding: 0px; width: 170px; clear: left; float: left;
}
.menu01 {
	width: 150px; height: 25px; color: rgb(0, 0, 0); line-height: 25px; font-weight: bold; margin-left: 10px; vertical-align: middle; cursor: pointer;
}
.menu02 {
	width: 150px; height: 25px; color: rgb(0, 0, 0); line-height: 25px; font-weight: bold; margin-left: 10px; vertical-align: middle; cursor: pointer;
}
.menu01 {
	background: url("../images/icon/baryellow.gif") repeat-x;
}
.menu02 {
	background: url("../images/icon/barblue.gif") repeat-x;
}
.menucon {
	color: rgb(102, 102, 102); line-height: 22px; overflow: hidden; padding-right: 4px; padding-left: 4px; margin-left: 10px;
}
#bar_img {
	background: url("../images/background/side_bg.jpg") repeat-y 150px 0px; width: 8px; vertical-align: middle; float: left;
}
.bar {
	width: 8px;
}
#right {
	float: left; min-width: 600px;
}
.top {
	background: url("../images/background/top_bg.jpg") repeat-x; width: 100%; height: 36px; line-height: 36px; vertical-align: middle;
}
.top .message {
	width: 80%; height: 36px; text-align: center; line-height: 36px; float: left;
}
.top .btn {
	width: 180px; float: right;
}
.top .btn a {
	text-decoration: none;
}
.top .ban .ic {
	margin-top: 15px;
}
.content {
	width: 100%; height: 100%; min-height: 420px;
}
#footer {
	background: url("../images/background/foot_bg.jpg") repeat-x; width: 100%; height: 30px; text-align: center; line-height: 30px; clear: left; vertical-align: middle; border-top-color: rgb(204, 204, 255); border-top-width: 1px; border-top-style: solid;
}
#con_left {
	width: 66%; margin-top: 6px; margin-left: 6px; float: left;
}
#topTab {
	width: 100%; height: 200px;
}
#menuwarp {
	background: url("../images/background/allbg.gif") no-repeat 0px -25px; padding: 0px; width: 100%;
}
#menuright {
	background: url("../images/background/allbg.gif") no-repeat 0px -25px; height: 25px; border-bottom-color: rgb(170, 221, 255); border-bottom-width: 1px; border-bottom-style: solid; float: right;
}
.setupout {
	background: url("../images/icon/widget.gif") no-repeat -4px 1px; width: 20px; height: 20px; float: right;
}
.setupover {
	background: url("../images/icon/widget.gif") no-repeat -4px -21px; width: 20px; height: 20px; float: right;
}
#TabSetup {
	background: rgb(214, 234, 255); width: 108px; height: 80px; position: absolute; z-index: 50;
}
#menu {
	height: 25px; overflow: hidden; float: left;
}
#menu a.s {
	background: url("../images/background/allbg.gif") no-repeat 0px -25px; width: 55px; height: 25px; text-align: center; color: rgb(33, 79, 165); line-height: 25px; text-decoration: none; border-right-color: rgb(170, 221, 255); border-right-width: 1px; border-right-style: solid; float: left; display: inline;
}
#menu a.s:hover {
	display: inline;
}
#menu a.nos {
	background: url("../images/background/allbg.gif") no-repeat 0px 0px; width: 55px; height: 24px; text-align: center; color: rgb(33, 79, 165); line-height: 24px; text-decoration: none; border-right-color: rgb(170, 221, 255); border-bottom-color: rgb(170, 221, 255); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left; display: inline;
}
#menu a.nos:hover {
	display: inline;
}
#menu a.mb {
	width: 56px; height: 25px; text-align: center; color: rgb(33, 79, 165); text-decoration: none; margin-left: -1px; float: left; display: block;
}
#menu a.mb:hover {
	display: block;
}
#shadow {
	border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(170, 221, 255) currentColor rgb(170, 221, 255) rgb(170, 221, 255); width: 55px; height: 25px; margin-top: -5px; filter: alpha(opacity=90); position: absolute; z-index: 100; cursor: move;
}
#coenter {
	background: rgb(255, 255, 255); padding: 2px; border: 1px currentColor; width: 96%; height: 170px; overflow: hidden; float: left;
}
.nocontent {
	width: 100%; text-align: center; color: red;
}
.conimg {
	width: 100%; text-align: center;
}
.more {
	right: 5px; bottom: 1px; color: blue; position: absolute;
}
.tabcard {
	border: 1px solid rgb(170, 221, 255); width: 100%; height: 200px;
}
.desktop {
	border: 1px solid rgb(170, 221, 255); width: 100%; height: 320px; margin-top: 8px;
}
.desktop .th {
	background: url("../images/background/allbg.gif") no-repeat 0px -25px; width: 100%; height: 25px; color: rgb(33, 81, 165); line-height: 25px; font-weight: 700; vertical-align: middle; border-bottom-color: rgb(170, 221, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.desktop .con {
	width: 100%;
}
.desktop .con ul li {
	height: 36px; line-height: 36px; vertical-align: bottom; border-bottom-color: rgb(180, 180, 180); border-bottom-width: 1px; border-bottom-style: dashed;
}
.desktop .con .t {
	float: left;
}
.desktop .con .t ol li {
	list-style: none; margin-left: 16px; float: left;
}
#con_right {
	width: 32%; margin-top: 6px; margin-left: 8px; float: left;
}
.rightdiv {
	margin: 0px 0px 8px; border: 1px solid rgb(170, 221, 255); width: 100%; position: relative;
}
.rightdiv h1 {
	background: url("../images/background/allbg.gif") 0px 0px; margin: 0px; width: 100%; height: 25px; color: rgb(33, 79, 165); line-height: 25px; font-size: 12px; font-weight: bold; border-bottom-color: rgb(170, 221, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.gg {
	height: 260px;
}
.gb {
	height: 260px;
}
.rc {
	height: 160px;
}
.g_con {
	margin-left: 8px;
}
.g_ly {
	bottom: 0px; margin-bottom: 6px; margin-left: 6px; position: absolute;
}
.depsearch {
	width: 100%;
}
.depsearch ds {
	width: 100%; height: 24px; line-height: 24px; vertical-align: middle;
}
.depsearch span {
	margin-left: 50px; float: left;
}
.depdt {
	width: 100%; margin-top: 8px;
}
.depupdate ul li {
	height: 36px; line-height: 36px;
}
.depupdate span {
	margin-left: 12px;
}
.tside {
	width: 36%; float: left;
}
.tright {
	width: 50%; margin-left: 60px; float: left;
}
#Role {
	
}
.error {
	background: url("../images/background/error.gif") no-repeat; margin: 80px auto; width: 400px; height: 280px;
}
.ms {
	width: 186px; margin-top: 236px; float: right;
}
.Calendar {
	background: url("../images/background/Calendar.jpg") no-repeat; width: 320px; height: 180px; padding-top: 8px; padding-left: 8px; float: left;
}
.meeting {
	width: 316px; float: left;
}
.meeting .t {
	width: 100%; height: 60px;
}
.meeting .t ul li {
	list-style: none; width: 78px; float: left;
}
.meeting .bot {
	background: url("../images/background/title.gif") no-repeat; width: 314px; height: 106px; padding-top: 16px; margin-top: 12px;
}
.meeting .bot .con {
	height: 72px; padding-top: 16px; border-right-color: rgb(187, 187, 187); border-bottom-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.meeting .bot .con ul li {
	list-style: none; height: 24px; padding-left: 6px;
}
.announce {
	background: url("../images/button/announce.gif") no-repeat; border: 0px currentColor; width: 74px; height: 60px;
}
.announce:hover {
	background: url("../images/button/announce1.gif") no-repeat; cursor: pointer;
}
#noice:focus {
	background: url("../images/button/announce1.gif") no-repeat; cursor: pointer;
}
.meet {
	background: url("../images/button/meet.gif") no-repeat; border: 0px currentColor; width: 74px; height: 60px;
}
.meet:hover {
	background: url("../images/button/meet1.gif") no-repeat; cursor: pointer;
}
#noice:focus {
	background: url("../images/button/meet1.gif") no-repeat; cursor: pointer;
}
.notice {
	background: url("../images/button/notice.gif") no-repeat; border: 0px currentColor; width: 74px; height: 60px;
}
.notice:hover {
	background: url("../images/button/notice1.gif") no-repeat; cursor: pointer;
}
#noice:focus {
	background: url("../images/button/notice1.gif") no-repeat; cursor: pointer;
}
.info {
	background: url("../images/button/info.gif") no-repeat; border: 0px currentColor; width: 74px; height: 60px;
}
.info:hover {
	background: url("../images/button/info1.gif") no-repeat; cursor: pointer;
}
#noice:focus {
	background: url("../images/button/info1.gif") no-repeat; cursor: pointer;
}
.send {
	background: url("../images/background/bg_user.jpg"); margin: 80px auto; text-align: center;
}
.sender {
	background: url("../images/button/close.gif") no-repeat; border: 0px currentColor; width: 74px; height: 60px;
}
.sender:hover {
	background: url("../images/button/open.gif") no-repeat; cursor: pointer;
}
#noice:focus {
	background: url("../images/button/open.gif") no-repeat; cursor: pointer;
}
.accordionHeader {
	background: url("../images/background/allbg.gif") repeat-x 1px -60px; border: 1px solid rgb(228, 230, 228); height: 20px; line-height: 20px; padding-left: 12px; font-family: Arial, Sans-Serif; font-weight: bold; vertical-align: middle; cursor: pointer;
}
.accordionContent {
	border-width: medium 1px 1px; border-style: none dashed dashed; border-color: currentColor rgb(228, 230, 228) rgb(228, 230, 228); padding-top: 6px; padding-right: 3px; padding-left: 3px; background-color: rgb(237, 248, 252);
}
.accordionHeaderSelected {
	background: url("../images/background/allbg.gif") repeat-x 1px -106px; border: 1px solid rgb(228, 230, 228); height: 20px; line-height: 20px; padding-left: 12px; font-family: Arial, Sans-Serif; font-weight: bold; vertical-align: middle; cursor: pointer;
}
.TextIndicator {
	padding: 2px 3px; color: rgb(255, 255, 255); font-family: Arial; font-size: 9pt; background-color: rgb(4, 122, 253);
}
.m_tagsItem {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(204, 204, 204); left: 0px; top: 0px; width: 90%; overflow: hidden; display: none; position: absolute; z-index: 1000;
}
.m_tagsItem p {
	margin: 0px; padding: 2px 0px; border: 0px currentColor; text-align: left; line-height: 22px;
}
.m_tagsItem span {
	font-weight: bold;
}
.m_tagsItem a {
	margin: 0px 5px;
}
.m_tagsname {
	line-height: 20px; text-indent: 3px; font-size: 12px; vertical-align: middle;
}
.taglist ul li {
	list-style: none; display: inline;
}
.tagClose {
	top: 2px; right: 2px; color: rgb(136, 136, 136); font-size: 12px; position: absolute; cursor: pointer;
}
