body {
	margin:0px auto; 
}
.main{
	margin:auto;
	width:1024px;
	height:auto;
	background-color:#FDDFFC;
}
.top
{
	margin:0px auto;
	margin-top:10px;
	width:700px;
	height:135px;
}
.center
{
	margin:0px auto;
	width:700px;
	height:auto;
}
.bortem
{
	margin:0px auto;
	width:700px;
	height:100px;
}

.center_daohang
{
	margin-top:5px;
	height:50px;
	width:700px;
}

.center_daohang_left
{
	margin-top:15px;
	height:auto;
	width:auto;
	float:left;
}
.nav li
{
	padding: 0px;
	float: left;
	list-style-type: none;
	font-family: "方正大黑简体";
	font-size: 16px;
}
.nav li a
{
	text-decoration:none;
	display:block;
	width:80px;
	height:22px;
	text-align:center;
	vertical-align:central;
	color:#F93;
}

.center_daohang_right
{
	margin-top:15px;
	float:right;
	width:auto;
	height:auto;
}
span
{
	margin-left:20px;
	margin-top:0px;
	float:right;
	width:200px;
	color:#CC0;
	text-align:center;
	vertical-align:central;
}

.center_leirong
{
	width:700px;
	height:500px;
	border:1px #663399;
}
.center_leirong_left
{
	margin-left:30px;
}

.bortem_dh
{
	float:right;
	margin-right:20px;
	margin-top:20px;
	font-family:"方正大黑简体";
	font-size:16px;
}

.bortem_lr
{
	float:left;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	text-align:center;
	margin-top:15px;
	width:700px;
	color:#F0F;
}
.nav {
	margin: 0px;
	padding: 0px;
}
