@charset "utf-8";
body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(templatemo_body_bg.jpg) repeat-x;
}
/*start of head*/
.main_head_logo
{
	float: left;
	width: 272px;
	height: 71px;
	background: url(templatemo_logo_bg.jpg);
	margin: 61px 0 0 40px;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}
h1
{
	color: #b3d46a;
	font-size: 24px;
	margin: 15px 0 0 20px;
	padding: 0PX;
}
h2
{
	color: #98e11d;
	font-size: 12px;
	margin: 15px 0 0 45px;
	padding: 0px;
}

.main_head_menu
{
	float: right;
	height: 41px;
	width: 560px;
	margin: 60px 0px 0px 0px;
	padding: 0px;
}
.main_head_menu ul {
	clear: both;
	float: right;
	list-style: none;
	display: inline;
}
.main_head_menu li {
	float: left;
}
.main_head_menu li a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 12px;
	margin: 0 10px 0 0; 
	padding: 0 0 0 5px;
	height: 41px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}
.main_head_menu li.current a, .main_head_menu li a:hover {
	color:#90F;
}
/*start of banner*/
.main_banner_left
{
	float: left;
	width: 367px;
	margin: 75px 0px 0px 10px;
}
.main_banner_right
{
	float: right;
	width: 497px;
	height: 200px;
	background: #A2CD5A;
	margin: 74px 5px 0px 0px;
}
.main_banner_left_news
{
	width: 337px;
	min-height: 35px;
	background: url(templatemo_news.jpg) no-repeat #fff;
	padding: 15px;
}
.main_banner_left_news p {
	background: url(templatemo_news_bullet.png) no-repeat;
	padding: 0 0 0 30px;
	color: #518101;
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	text-align: justify;
	margin: 0;
}
.main_banner_right img
{
	margin: 7px 0 0 12px;
}
/*start of center*/
.main_center_left
{
	float: left;
	width: 347px;
	margin: 0px 0px 0px 20px;
}
.main_center_right {
	float: right;
	width: 479px;
	margin: 0px 13px 0px 0px;
}
.main_center_left_tittle
{
	width: 332px;
	height: 28px;
	background: url(templatemo_title_bg.jpg);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-variant: small-caps;
	color: #006600;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 11px 0px 0px 15px;
}
.box1_top
{
	width: 347px;
	height: 13px;
	background: url(templatemo_section_top.jpg);
}
.box1_center
{
	width: 347px;
	background: url(templatemo_section_mid.jpg);
}
.box1_bottom
{
	width: 347px;
	height: 11px;
	background: url(templatemo_section_bottom.jpg);
}
.box1_center_tp
{
	float: left;
	width: 113px;
	height: 116px;
	background: url(templatemo_img_frame.jpg);
	margin: 0 10px;
}
.box1_center p
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 0 15px;
}
.box1_center_tp img {
	margin: 9px 0 0 18px;	
}
.main_center_left_content
{
	width: 347px;
	margin: 0px 0px 10px 0px;
}
.right_box1
{
	width: 479px;
	background: url(templatemo_right_title_2.png) #dbdbdb no-repeat;
	margin: 0 0 0 0;
	padding: 15px 0 10px 0;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}
.right_box1 h1 {
	font-size: 16px;
	font-variant: small-caps;
	color: #fff;
	font-weight: bold;
	margin: 0 0 15px 20px;
}
.right_box1 p {
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 5px 20px;
}
.right_box1 img {
	vertical-align: top;
	margin: 0 15px;
	border: none;
}
.right_box2 {
	width: 479px;
	background: url(templatemo_right_title_1.jpg) #dbdbdb no-repeat;
	margin: 0 0 0 0;
	padding: 15px 0 10px 0;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}
.right_box2 h1 {
	font-size: 16px;
	font-variant: small-caps;
	color: #fff;
	font-weight: bold;
	margin: 0 0 15px 20px;
}

.right_box2 p {
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 5px 20px;
}
.right_bg {
	width: 479px;
	height: 12px;
	background: url(templatemo_right_bottom.jpg);
}

.right_box1 .margin_none {
	margin: 0;
}

.right_box1 .margin_left {
	margin: 0 15px 0 20px ;
}

.right_box1 .margin_right {
	margin: 0 15px 0 0 ;
}

#templatemo_search {
	float: right;
	width: 330px;
	height: 30px;
	margin: 4px 26px 0 0;
	padding: 5px 0 0 0;
}





.cleaner
{
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}



